.lightboxContent {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 600px;
    padding: 3px;
    padding-right: 9px;
    border: 2px solid grey;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
#lightboxInput {
    height: 100%;
    width: 100%;
    font-size: 1.5em
}
#go {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
}