.lightbox_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50px;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
#lightbox_input {
    height: 100%;
    width: 100%;
    font-size: 100%
}